<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Safe Driving.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C76E5F51D244A1400A59D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C76E60C1D244A1500A59D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C76E6171D244A1500A59D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
